
body { 
  background-color: #000000; 
  width: 960px;
  height: 480px;
  top: 0px;
  left: 0px;
  margin: 0%;
  overflow: hidden;
}

.hud {
  width: 960px;
  height: 480px;
  top: -53px;
  left: -150px;
  position: relative;
  overflow: hidden;
  transform: scale(0.74,0.80);
}

.scrollspeed {
  width: 200px;
  height: 600px;
  top: -110px;
  left: 20px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#speedmask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 192px;
  height: 600px;
  display: inline-block;
  border: 0px;
  z-index: 15;
}

#speedtape {
  position: absolute;
  top: -1315px;
  left: 16px;
  width: 85px;
  height: 1844px;
  z-index: 4;
}

.scrollaltitude {
  width: 200px;
  height: 632px;
  top: -120px;
  left: 720px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

#altmask {
  position: absolute;
  top: -98px;
  left: 0px;
  width: 230px;
  height: 790px;
  display: inline-block;
  overflow: hidden;
  border: 0px;
  z-index: 10;
}

#alttape {
  position: absolute;
  top: -5090px;
  left: 100px;
  width: 85px;
  height: 5487px;
  z-index: 1;
}

.scrollheading {
  width: 800px;
  height: 95px;
  top: 380px;
  left: -40px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

#headingmask {
  position: absolute;
  top: 0px;
  left: 98px;
  width: 800px;
  height: 104px;
  display: inline-block;
  border: 0px;
  z-index: 150;
}

#headingtape {
  position: absolute;
  top: 46px;
  left: -598px;
  width:3900px;
  height: 62px;
  z-index: 1;
}

#trafficWarning {
  height: 400px;
  width: 900px;
  position: absolute;
  top: 60px;
  left: 30px;
  visibility: hidden; 
  z-index: 250;
}

#warningflag {
  height: 35px;
  width: 40px;
  position: absolute;
  top: 386px;
  left: 100px;
  visibility: hidden;
  z-index: 200;
  transform: scale(1.25, 1.25)
}

#gmeter {
  height: 40px;
  width: 80px;
  position: absolute;
  top: 380px;
  left: 725px;
  visibility: visible;
  z-index: 200;
  transform: scale(1.25, 1.25);
}

#vertspeed {
  height: 40px;
  width: 113px;
  position: absolute;
  top: 380px;
  left: 83px;
  visibility: visible;
  z-index: 200;
  transform: scale(1.25, 1.25);
}

#slipskid {
  height: 120px;
  width: 387px;
  position: absolute;
  top: 292px;
  left: 273px;
  visibility: visible;
  z-index: 200;
  transform: scale(.4,.3);
}

#ball {
  height: 95px;
  width: 70px;
  position: absolute;
  top: 305px;
  left: 433px;
  visibility: visible;
  z-index: 201;
  transform: scale(.3,.28);
}

#leftbar {
  height: 83px;
  width: 10px;
  position: absolute;
  top: 311px;
  left: 450px;
  visibility: visible;
  z-index: 210;
  transform: scale(.54,.35);
}

#rightbar {
  height: 83px;
  width: 10px;
  position: absolute;
  top: 311px;
  left: 478px;
  visibility: visible;
  z-index: 210;
  transform: scale(.54,.35);
}

.attitude {
  width: 300px;
  height: 400px;
  top: -50px;
  left: 170px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

.attitude .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.instrument.attitude div.roll {
  transform: rotate(0deg);
}

div.instrument.attitude div.roll div.pitch {
  top: 0%;
}
